.navLinkUser{
    color: #000000;
    font-weight: 700;
    padding: 6px 12px;
    font-size: 14px;
    text-decoration: none;
}

.volunteer{
    padding: 0 100px;
    background-color: #e3e9ee;
}

.volunteeringList{
    margin: 30px 50px;
    padding-bottom: 30px;
}



.event{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
}

.eventImage img{
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.eventNameAndDate{
    padding-left: 30px;
}

.eventNameAndDate h4{
    font-weight: 700;
}

.eventNameAndDate p{
    font-weight: 700;
}

.cancel{
    position:absolute;
    right: 40px;
    bottom: 20px;
}