.adminSection{
    margin-left: 50px;
    box-sizing: border-box;
}

.adminSection img{
    width: 80%;
}
.menubar{
    margin-top: 30px;
}

.menu{
    margin-top: 40px;
}
.option{
    line-height: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.active{
    color: #4896F1;
}
.i{
    margin-right: 5px;
}

.adminPanel{
    margin-top: 30px;
}

.volunteerList{
    background-color: #F8FAFC;
    width: 100%;
    height: 450px;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    background-color: #ffffff;
    width: 90%;
    margin: 30px;
    position: absolute;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700;
}
.thead{    
    border-radius: 10px;
}


thead th{
    font-size: 14px;
    font-weight: 400;
    color: rgb(113, 113, 121);
    background-color: #eceff5;
}
  th, td {
    text-align: left;
    padding: 10px;
  }
  
.trash{
    font-size: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgb(224, 14, 14);
    padding: 2px;
    border-radius: 2px;
}